.card-row {
  display: flex;
  margin : 0 -0.5rem;
}

.card-col {
  flex  : 1 0 calc(50% - 1rem);
  margin: 0 0.5rem;
}

:host ::ng-deep nb-stepper .step-content {
  text-align: center;

  button {
    cursor: pointer;
    margin: 0.5rem;
  }
}
