button {
    position: absolute;
    left: 80%;
    top: 1em;
}

#uom {
    position: absolute;
    left: 3%;
    width: 35%;
    top: 1em;
}

#inputdateCaptured {
    position: absolute;
    left: 40%;
    width: 35%;
    top: 1em;
}
