<div class="row">
    <div class="col-md-3">
        <nb-card>
            <div class="summary-container assets-total">
                <div>
                    <div class="h7">Assets</div>
                    <div class="h5">Total</div>
                    <div class="h3">{{ TotalAssets }}</div>
                </div>
            </div>
        </nb-card>
    </div>
    <div class="col-md-3">
        <nb-card>
            <div class="summary-container assets-maintenance">
                <div>
                    <div class="h7">Assets</div>
                    <div class="h5">In Maintenance</div>
                    <div class="h3">{{ TotalAssetsInMaintenance }}</div>
                </div>
            </div>
        </nb-card>
    </div>
    <div class="col-md-3">
        <nb-card>
            <div class="summary-container workorder-open">
                <div>
                    <div class="h7">Work Orders</div>
                    <div class="h5">Open</div>
                    <div class="h3">{{ TotalWorkOrdersOpen }}</div>
                </div>
            </div>
        </nb-card>
    </div>
    <div class="col-md-3">
        <nb-card>
            <div class="summary-container workorder-closed">
                <div>
                    <div class="h7">Work Orders</div>
                    <div class="h5">Completed Today</div>
                    <div class="h3">{{ TotalWorkOrdersCompleted }}</div>
                </div>
            </div>
        </nb-card>
    </div>
</div>