<div class="row">
  <div class="col-md-12">
    <nb-card class="sub-menu">
      <nb-card-body>
        <nb-actions size="medium" fullWidth>
          <nb-action class="action" (click)="openAsset()">
            <nb-icon class="action-icon icon" icon="car-outline"></nb-icon>
            <span>Asset</span>
          </nb-action>
          <nb-action class="action" (click)="openPM()">
            <nb-icon class="action-icon icon" icon="list-outline"></nb-icon>
            <span>Planned Maintenance</span>
          </nb-action>
        </nb-actions>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div *ngIf="isLoaded && showAsset">
  <div class="row">
    <div class="col-md-6">
      <nb-card class="actions-card">
        <nb-card-header>Asset</nb-card-header>
        <nb-card-body>
          <form [formGroup]="assetForm">
            <div class="form-group row">
              <label for="inputName" class="label col-sm-3 col-form-label">Name</label>
              <div class="col-sm-8">
                <input type="text" formControlName="name" nbInput fullWidth id="inputName" placeholder="Name"
                  value="{{asset?.name}}"
                  [status]="submitted && formControls.name.errors ? (submitted && formControls.name.invalid  ? 'danger' : 'success') : 'basic'">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputMake" class="label col-sm-3 col-form-label">Make</label>
              <div class="col-sm-8">
                <input type="text" formControlName="make" nbInput fullWidth id="inputMake" placeholder="Make"
                  value="{{asset?.make}}">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputSerialNumber" class="label col-sm-3 col-form-label">Serial Number</label>
              <div class="col-sm-8">
                <input type="text" formControlName="serialNumber" nbInput fullWidth id="inputSerialNumber"
                  placeholder="Serial Number" value="{{asset?.serialNumber}}">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputDateManufactured" class="label col-sm-3 col-form-label">Date Manufactured</label>
              <div class="col-sm-8">
                <input type="text" formControlName="manufacturedDate" nbInput fullWidth id="inputManufacturedDate"
                  placeholder="Date Manufactured" value="{{asset?.manufacturedDate}}"
                  [nbDatepicker]="inputManufacturedDate" autocomplete="off">
                <nb-datepicker #inputManufacturedDate></nb-datepicker>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputDatePurchased" class="label col-sm-3 col-form-label">Date Purchased</label>
              <div class="col-sm-8">
                <input type="text" formControlName="purchasedDate" nbInput fullWidth id="inputDatePurchased"
                  placeholder="Date aquired" value="{{asset?.purchasedDate}}" [nbDatepicker]="inputDatePurchased"
                  autocomplete="off">
                <nb-datepicker #inputDatePurchased></nb-datepicker>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputUom" class="label col-sm-3 col-form-label">Work Unit of Measure</label>
              <div class="col-sm-8">
                <nb-select [(ngModel)]="asset.uoM" formControlName="uom" *ngIf="asset.uoM !== ''" fullWidth="true"
                  placeholder="Select a UoM" selected="{{asset.uoM}}"
                  [status]="submitted && formControls.uom.errors ? (submitted && formControls.uom.invalid  ? 'danger' : 'success') : 'basic'">
                  <nb-option value="Hours">Hours</nb-option>
                  <nb-option value="Minutes">Minutes</nb-option>
                  <nb-option value="Km">Km</nb-option>
                  <nb-option value="Miles">Miles</nb-option>
                </nb-select>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputCurrentWorkDone" class="label col-sm-3 col-form-label">Inital Work Done</label>
              <div class="col-sm-8">
                <input nbTooltip="Inital work done by Asset. Further work needs to be captured"
                  nbTooltipPlacement="right" type="text" formControlName="currentWorkDone" nbInput fullWidth
                  id="inputCurrentWorkDone" placeholder="Work dont until now" value="{{asset?.currentWorkDone}}">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputLocation" class="label col-sm-3 col-form-label">Location</label>
              <div class="col-sm-8">
                <nb-select formControlName="locationId" *ngIf="locationList" fullWidth="true"
                  placeholder="Select a location" selected="{{asset?.locationId}}"
                  [status]="submitted && formControls.locationId.errors ? (submitted && formControls.locationId.invalid  ? 'danger' : 'success') : 'basic'">
                  <nb-option *ngFor="let item of locationList;" value="{{item.id}}">
                    {{item.name}}
                  </nb-option>
                  <ng-container *ngIf="submitted && formControls.locationId.invalid">
                    <p class="caption status-danger" *ngIf="formControls.locationId.errors.required">
                      Location is required!
                    </p>
                  </ng-container>
                </nb-select>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-6">
      <div class="card-row">
        <div class="card-col">
          <ngx-capture-hours [uom]="asset?.uoM" [AssetId]="asset?.id"></ngx-capture-hours>
        </div>
        <div class="card-col">
          <nb-card>
            <nb-card-header>
              Work Orders
            </nb-card-header>
            <nb-card-body class="work-order-status">
              <div class="summary-container">
                <div>
                  <div>Open</div>
                  <div class="h6">{{totalWOOpen}}</div>
                </div>
                <div>
                  <div>In Progress</div>
                  <div class="h6">{{totalWOInProgress}}</div>
                </div>
                <div>
                  <div>Closed</div>
                  <div class="h6">{{totalWOCompleted}}</div>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="card-col">
          <nb-card>
            <nb-card-header>Image</nb-card-header>
            <nb-card-body>
              <ngx-image-upload *ngIf="asset" (fileUploaded)="imageUploaded($event)" [applicationType]="'asset'"
                (fileRemoved)="imageRemoved($event)" [companyId]="asset?.companyId" [id]="asset?.id">
              </ngx-image-upload>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isLoaded && showAsset" class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="footer">
          <!-- <button class="submit" nbButton status="danger">Delete</button> -->
          <button nbButton status="success" (click)="onSubmit()">Submit</button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div *ngIf="showPM" class="row">
  <div class="col-md-12">
    <ngx-planned-maintenance-accordion [AssetId]="assetId" [AssetLocationId]="assetLocationId" [AssetUoM]="assetUom">
    </ngx-planned-maintenance-accordion>
  </div>
</div>