$main-color: #3D5369;
$breakpoint   : 750px;

$color-one: #ffffff;
$color-two: #C72910;
$color-three: #E8A93F;
$color-four: #007A7B;
$color-five: #003F5A;
$color-six: #800021;

$header-color: #3fa9f5;
$header-logo-color: #000;

$user-text-color: #ffffff;

$header-background-color: #222227;

$menu-background-color: #003F5A;
$menu-item-active-text-color: $color-one;
$menu-item-icon-active-color: $color-one;
$menu-item-hover-text-color: #3fa9f5;
$menu-item-icon-hover-color: #3fa9f5;
$menu-item-icon-color: $color-one;
$menu-text-color: $color-one;

$card-header-background-color: $color-one;
$card-header-color: $color-five;
