<ngx-dashboard-textheader></ngx-dashboard-textheader>
<div class="row">
    <div class="col-md-6">
        <ngx-bargraph-totalmaintenancecompleted></ngx-bargraph-totalmaintenancecompleted>
    </div>
    <div class="col-md-6">
        <ngx-list-workorderopenlist></ngx-list-workorderopenlist>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <ngx-pie-priority></ngx-pie-priority>
    </div>
    <div class="col-md-6">
        <ngx-pie-plannedunplanned></ngx-pie-plannedunplanned>
    </div>
</div>
